/*-------------------*/
/*--TEMPLATE BASICS--*/

.root {
  --box-blue: #9ccacd;
  --text: #3e506d;
  --header: #2e3542;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #3e506d;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ECECF6;
}

/*---END TEMPLATE BASICS--*/

/*------------*/
/*---HEADER---*/  
header {
    padding: 0 0 10px 0;
    background-color:  #2e3542;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 65PX;
    
  }

header h1 {
    color:#2e3542;
    font-size: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background-color: #9ccacd;
    width: 250px;
    padding-right: 10px;
}

header nav {
    margin: 7px 0;
      }
.main-nav {
    color: #9ccacd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
  }

 .main-nav li a{
    color: #9ccacd; 
    padding: 5px;
    margin: 0 20px 0 20px; 
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    border-bottom: 2px solid #9ccacd;           
  }


  /*---END Header and Footer--*/

  /*------------------*/
  /*----HERO IMAGE----*/
  .hero {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 300px;
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: bottom;        
  }

  .hero-cta{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    color: #2e3542;
    background-color: #9ccacd;
    width:225px;
    height: 30px;
    margin: 0 15px 10px 0; 
  }
  
  /*------------------------*/
  /*------CSS GRID WRAPPER----------*/
  .grid-wrapper {
    display: grid;
    }

  /*-----END GRID WRAPPER----------*/


   /*------------------------*/
  /*------CSS GRID CONTAINER----------*/

  .grid-container-about-me {
    
    max-width: 90%; /*--Center grid to page--*/
    margin: 30px; /*--Center grid to page--*/ 
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: minmax(100px, auto);
    gap: 5px;
  }

  .grid-container-work {

    max-width: 90%; /*--Center grid to page--*/
    margin: 30px; /*--Center grid to page--*/ 
    display: grid;
    grid-template-columns:  200px repeat(3, 1fr);
    grid-template-rows: minmax(100px, auto);
    gap: 5px;
  }

  .grid-container-contact-me {
    max-width: 90%; /*--Center grid to page--*/
    margin: 30px; /*--Center grid to page--*/ 
    display: grid;
    grid-template-columns: 200px repeat(6, 1fr);
    grid-template-rows: 75px;
    gap: 5px;
  }
/*-----END GRID CONTAINER----------*/

/*------------------------*/
  /*------CSS GRID ITEM----------*/
  .grid-item {
    padding-right: 0.5em;
    /*opacity: 0.8;*/
  }
    .grid-work {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: 3px solid #9ccacd;
    flex-wrap: wrap;
    }

    .grid-contact-me {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .grid-head {
      display: flex;
      justify-content: flex-end;
      align-items: start;
      font-size: 20px;  
      text-align: right;
      
    }
  
    
    .grid-item h3, p {
      background-color: #9ccacd;
      padding: 0px 5px 0 5px;
            
    }
    
  
    .grid-item h3 {
      background-color: #9ccacd;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      font-size: 15px;      
      height: 20px;
      margin-top: 40px;
    
    }
  
    .grid-item p {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 10px;
      font-weight: bold;
      height: 20px;
      margin-bottom: 10px;
    }
  
    .grid-item a {
      text-decoration: none;
      color: #3e506d;
      
    }
  
    .grid-contact-me a{
      color: #3e506d;
      font-size: 2vh;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 2px solid #3e506d;
      margin-left: 10px;
    }

    .box4, .box5, .box6, .box7,.box8:hover {
      opacity: 1 ;
      transition: 0.5s;
      cursor: pointer;
            
    }

  .box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-right: 3px solid#3e506d;
}

  .box2 { 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .box3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    border-right: 3px solid #3e506d;
  }

  .box4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("../images/run-buddy.JPG");    
    background-size: cover;
    opacity: 0.9;
   }

  .box5 {
    background-image: url("../images/led-wall.jpg");
    background-size: cover;
    background-position: center;
    ;
  } 

  .box6 {
    background-image:url("../images/calculator.jpg");
    background-size: cover;
    background-position: top;
  }

  .box7{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url("../images/pastel.jpg");
    background-size: cover;
    background-position: top;
  }

  .box8 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url("../images/surf-report.jpg");
    background-size: cover;
    background-position: center;
  }

  .box9 {
 
    border-right: 3px solid #3e506d;
  }


  .box11 {
    grid-column-start: 3;
    grid-column-end: 5;
  }


  /*------END CSS GRID WORK ITEM------*/



/*-------------------------------------*/
/*---@MEDIA SCREEN LESS WIDTH 1013PX-----*/

@media screen and (max-width: 1140px) {

  .grid-container-contact-me {
    grid-template-columns: 200px 175px 175px 100px 100px 100px;
    
  }
.box9{
  grid-row-start: 1;
  grid-row-end: 3;
}
 .box12 {
   grid-column: 5;
 }
 .box14{
   grid-column: 2;
 }
}

/*--------END 1013px---------------------*/


/*-------------------------------------*/
/*---@MEDIA SCREEN MAX WIDTH 900pX-----*/


@media screen and (max-width: 900px) {

  .grid-container-about-me{
    grid-template-columns: 100px auto;
  }
  .grid-container-work {
    grid-template-columns: 100px 400px;
    grid-template-rows: repeat(5, 100px);
  }
  .grid-container-contact-me {
    grid-template-columns: 100px 200px;
  } 
  .box3 {
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .box4 {
    grid-row: 1;  
    grid-column-start: 2;
    grid-column-end: 5;
  }
  .box5 {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 5;
}

  .box6 {
    grid-column-start: 2;
    grid-column-end: 5;
}

  .box7 {
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 5;
}
  .box8 {
    grid-row: 5;
    grid-column-start: 2;
    grid-column-end: 5;
}

  .box9 {
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .box12 {
   grid-column: 2;
  }
  
  .box13{
    grid-column: 3;
  }

  .box14{
    grid-column: 4;
  }

}

/*--------------------------------------------*/



