/*-------------------*/
/*--TEMPLATE BASICS--*/

.root {
  --box-blue: #9ccacd;
  --text: #3e506d;
  --header: #2e3542;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #3e506d;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ECECF6;
}

/*---END TEMPLATE BASICS--*/

/*------------*/
/*---HEADER---*/  
header {
    padding: 0 0 10px 0;
    background-color:  #2e3542;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 65PX;
    
  }

header h1 {
    color:#2e3542;
    font-size: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background-color: #9ccacd;
    width: 250px;
    padding-right: 10px;
}

header nav {
    margin: 7px 0;
      }
.main-nav {
    color: #9ccacd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
  }

 .main-nav li a{
    color: #9ccacd; 
    padding: 5px;
    margin: 0 20px 0 20px; 
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    border-bottom: 2px solid #9ccacd;           
  }


  /*---END Header and Footer--*/

  /*------------------*/
  /*----HERO IMAGE----*/
  .hero {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 300px;
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: bottom;    
  }

  .hero-cta{
    display: flex;
    justify-content:center;
    color: #2e3542;
    background-color: #9ccacd;
    width:225px;
    height: 30px;
    margin: 0 15px 10px 0; 
  }
  
  /*------------------------*/
  /*------CSS GRID----------*/
  .grid-wrapper {
    display: grid;
    }

  .grid-container-about-me {
    
    max-width: 95%; /*--Center grid to page--*/
    margin: 30px; /*--Center grid to page--*/ 
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: minmax(100px, auto);
    gap: 5px;
  }

  .grid-container-work {

    max-width: 95%; /*--Center grid to page--*/
    margin: 30px; /*--Center grid to page--*/ 
    display: grid;
    grid-template-columns: 200px repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(100px, auto));
    gap: 5px;
  }

  .grid-item {
    padding-right: 0.5em;
  }
    .grid-work {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: 3px solid #9ccacd;
    }

  .box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-right: 3px solid#3e506d;
}

  .box2 { 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .box3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    border-right: 3px solid #3e506d;
  }

  .box4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .box7{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .box8{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }


  .grid-head {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    font-size: 20px;  
    text-align: right;
    
  }

  /*------END CSS GRID------*/

  /*------------------------*/
  /*-----FOOTER-------------*/

  /*
  .footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  */

  /*-----END FOOTER---------*/


